.banner{
    height: 1px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.bbtn {
    position: absolute; 
    bottom: 50px; 
    right: 80px; 
}